SOA_COMPONENTS/BPELComponentTest/SOA/Schemas/BPELComponentTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://xmlns.oracle.com/SOA_COMPONENTS/BPELComponentTest/BPELComponentTest"
        xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="process">
    <complexType>
      <sequence>
        <element name="firstNum" type="integer"/>
        <element name="secondNum" type="integer"/>
        <element name="total" type="integer"/>
      </sequence>
    </complexType>
  </element>
  <element name="processResponse">
    <complexType>
      <sequence>
        <element name="result" type="boolean"/>
      </sequence>
    </complexType>
  </element>
</schema>